$data-table-regular-row-height: 34px;

$shadow-key-umbra-opacity: rgba(#9719ff, 0.2);
$shadow-key-penumbra-opacity: rgba(#9719ff, 0.24);
$shadow-key-ambient-opacity: rgba(#9719ff, 0.22);
$tabs-bar-height: 60px;